.drawings {
  margin: 0 auto;
}

.drawings:before, .drawings:after {
  content: "";
  display: table;
}

.drawings:after {
  clear: both;
}

.drawing-card {
  margin: 10px;
}

.drawing {
  display: block;
  width: 100%;
  opacity: .8;
}

.drawing:hover {
  opacity: 1;
}

.drawing-column {
  float: left;
}
