---
---

$bg-color: #000;
$text-color-primary: #fff;
$text-color-light-gray: #bfbfbf;

body {
  background-color: $bg-color;
  color: $text-color-primary;
  text-align: center;
}

.img-home {
  width: 50vw;
  height: auto;
  margin-top: 50px;
  border-radius: 5px;
  transition-duration: 1.5s;
}

.img-home:first-of-type {
  position: absolute;
}

.img-home:first-of-type:hover {
  opacity: 0;
}

.category {
  font-family: sans-serif;
  font-size: 20px;
}

.cat-label:focus {
  color: $text-color-primary;
}

a {
  color: $text-color-light-gray;
  text-decoration: none;
}

a:hover {
  color: $text-color-primary;
}
