---
---

$bg-color: #24292e; // black
$text-color-primary: #fff; // white
$text-color-light-gray: #bfbfbf;

body {
  background-color: $bg-color;
  color: $text-color-primary;
  text-align: center;
}

.img-home {
  width: 50vw;
  height: auto;
  margin-top: 50px;
  border: .5rem solid white;
}

/* Mobile phones */
@media only screen and (max-width: 768px) {
  .img-home {
    width: 80vw;
    height: auto;
  }
}

.nav {
  font-family: sans-serif;
  font-size: 20px;
}

.nav-item:focus {
  color: $text-color-primary;
}

a {
  color: $text-color-light-gray;
  text-decoration: none;
}

a:hover {
  color: $text-color-primary;
}

.placeholder-text {
  margin-top: 50px;
}
