---
---
@import "photos";
@import "drawings";

$bg-color: #24292e; // black
$text-color-primary: #fff; // white
$text-color-light-gray: #bfbfbf;
$font-family-primary: sans-serif;

body {
  background-color: $bg-color;
  color: $text-color-primary;
  text-align: center;
}

footer {
  font-family: $font-family-primary;
  color: $text-color-light-gray;
}

.home {
  width: 40vw;
  height: auto;
  margin-top: 50px;
  border: .5rem solid white;
  background-color: white;
  animation: enter ease-in-out 1s;
  -webkit-animation: enter ease-in-out 1s;
}

@keyframes enter {
  from {
    transform: translateY(200px);
    opacity: .1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes enter {
  from {
    transform: translateY(200px);
    opacity: .1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $bg-color;
  font-family: $font-family-primary;
  font-size: 20px;
}

.nav-item {
  color: $text-color-light-gray;
}

.nav-item:hover {
  color: $text-color-primary;
}

.content-container {
  margin-top: 50px;
}

.content {
  width: 50vw;
  margin: 20px auto;
  text-align: left;
  line-height: 2;
  font-size: 20px;
  font-family: $font-family-primary;
}

.container {
  margin: 2rem auto;
}

.label {
  margin-bottom: .2rem;
  font-family: $font-family-primary;
  color: $text-color-light-gray;
  text-align: left;
}

.label:hover {
  text-decoration: underline;
}

.top-icon {
  width: 64px;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 100;
  cursor: pointer;
  opacity: .4;
  display: none;
}

.top-icon:hover {
  opacity: .6;
}

a {
  color: $text-color-light-gray;
  text-decoration: none;
}

a:hover {
  color: $text-color-primary;
}

@media only screen and (max-width: 768px) {
  .home, .content {
    width: 80vw;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    width: 40vw;
  }
}
